body {
  display: flex;
  position: relative;
  font: 100% Helvetica, sans-serif;
  color: #333;
  margin: auto;
  padding: auto;
  width: max-content;
  flex-direction: column;
  align-content: center; }

button span, a span {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  margin-right: auto;
  margin-left: auto; }

.score {
  font-size: 24pt; }

.correct .material-icons.close {
  display: none; }
.correct .material-icons.check {
  display: flex; }

.incorrect .material-icons.close {
  display: flex; }
.incorrect .material-icons.check {
  display: none; }

.text-only .material-icons.close {
  display: none; }
.text-only .material-icons.check {
  display: none; }

img {
  opacity: 0;
  width: 400px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  position: relative; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
img.load {
  position: relative;
  opacity: 1; }

div {
  margin: auto;
  padding: auto;
  width: max-content;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  position: relative;
  visibility: visible; }

.anchor {
  position: relative;
  margin: 0px;
  padding: 0px; }

.check {
  color: green;
  display: flex;
  position: absolute;
  right: 1%;
  font-size: 24px; }

.close {
  color: red;
  display: flex;
  position: absolute;
  right: 1%;
  font-size: 24px; }

.category {
  color: blue;
  display: flex;
  position: absolute;
  right: 1%;
  font-size: 24px; }

.numbered-list {
  color: black;
  display: flex;
  position: absolute;
  right: 1%;
  font-size: 24px; }

button {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  justify-self: center;
  align-content: center;
  align-self: center;
  font-size: 24px;
  margin: 5px;
  width: 22ch;
  border-color: #2020aa;
  border-radius: 12px; }

.disabled {
  pointer-events: none; }

.ans {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  justify-self: center;
  align-content: center;
  align-self: center;
  font-size: 24px;
  margin: 5px;
  width: 22ch;
  border-color: #ffaa20;
  border-radius: 12px; }

button:target, button:active, button:hover, button:active:disabled {
  cursor: pointer;
  background-color: #2020aa;
  color: white;
  padding: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  justify-self: center;
  align-content: center;
  align-self: center;
  font-size: 24px;
  margin: 5px;
  width: 22ch;
  border-color: #2020aa;
  border-radius: 12px; }

.ans:hover {
  cursor: pointer;
  background-color: #ffaa20;
  color: white;
  padding: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  justify-self: center;
  align-content: center;
  align-self: center;
  font-size: 24px;
  margin: 5px;
  width: 22ch;
  border-color: #ffaa20;
  border-radius: 12px; }

.fade-out, button.fade-out {
  pointer-events: none;
  animation: fadeOut 750ms;
  position: absolute; }

.fade-out > * {
  pointer-events: none; }

.fade-in {
  animation: fadeIn 1000ms; }

.dsp-none {
  pointer-events: none;
  display: none; }

/*# sourceMappingURL=styles.css.map */
