$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$ansBtnBrdrClr: rgb(255, 170, 32);
$prsdBtnTextClr: white;
$dfltBtnTxtClr: black;
$dfltBtnBckClr: white;
$dfltBtnBrdClr: rgb(32, 32, 170);
$chckClr: green;
$ctgryClr: blue;
$chckClr: green;
$closeClr: red;
$nmbrdListClr: black;
$dfltFontSize: 24px;
$dfltBtnWidth: 22ch;

@mixin ansFeeedback($closeDisp,$checkDisp) {
  .material-icons.close{
    display: $closeDisp;
  }
  .material-icons.check{
    display: $checkDisp;
  }
}

@mixin btnPressed($pressed, $bckClr) {
  background-color: $bckClr;

}

@mixin icon($txtClr, $fntSize: $dfltFontSize, $marginRight:0px, $marginLeft:0px) {
  color: $txtClr;
  // padding: 3px;
  // text-decoration: none;
  display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  // justify-items: flex-end;
  // justify-self: flex-end;
  // align-content: center;
  // align-items:center;
  // align-self: center;
  // margin-left: auto;
  // margin-right: 0;
  position: absolute;
  right: 1%;
  // pos
  // justify-self: flex-end;

  // width:100%;
  // text-align: right;
  // position: float;
  // float:right;
  font-size: $fntSize;
  // margin:0px;
  // margin-right: 0px;
  // margin-left: auto;
  // padding: 0px;
  // top: calc(50%-$fntSize/2);
  // margin-top: calc(0.5ch - 1ch);
  // margin-bottom: 0px;
  // margin-right: $marginRight;
  // margin-left: $marginLeft;
  // padding: 0px;
  // padding-right: 1ch;
  // transition-duration: 1000ms;
}

@mixin btn($brdrClr, $bckClr, $txtClr, $fntSize: $dfltFontSize, $btnWidth: $dfltBtnWidth) {
  background-color: $bckClr;
  color: $txtClr;
  padding: 0px;
  // text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  // justify-items: center;
  justify-self: center;
  align-content: center;
  // align-items:center;
  align-self: center;
  // justify-self: flex-end;


  // justify-items: auto;
  // align-self: center;
  // align-content: center;
  font-size: $fntSize;
  margin: 5px;
  width: $btnWidth;
  border-color: $brdrClr;
  border-radius: 12px;
  // transition: background-color 300ms ease-in, color 300ms ease-in;
  // transition-duration: 300ms;
  // transition-property: all;
  // transition-timing-function: ease-out;
  // position: absolute;
  // margin-left: calc(50%-15ch);
}

body {
  display: flex;
  position: relative;
  font: 100% $font-stack;
  color: $primary-color;
  margin: auto;
  padding: auto;
  width:max-content;
  flex-direction: column;
  align-content: center;
  // display: flex;
  // flex-direction: column;
  // position: relative;

  // visibility: visible;
  // opacity: 1;
}

button span, a span{
  // margin: 0px;
  // padding: 0px;
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  // position: static;
  margin-right: auto;
  margin-left: auto;
  // position: static;
}

.score{
  font-size: 24pt;
}

.correct{
  @include ansFeeedback(none, flex);
}

.incorrect{
  @include ansFeeedback(flex, none);
}

.text-only{
  @include ansFeeedback(none, none);
}

img{
  opacity: 0;
  // transition: 1s opacity ease-out;
  // transition: 2s opacity linear;
  // opacity: 1;
  width: 400px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  // transition: opacity 2000ms ease-in;
}

// @-webkit-keyframes fadeIn {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// @-moz-keyframes fadeIn {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// @-ms-keyframes fadeIn {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// @-o-keyframes fadeIn {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  0%{opacity: 1;  visibility: visible;}
  99% {
    opacity: 0.01; visibility: visible;
  }
  100% {
    opacity: 0; visibility: hidden;
  }
}

img.load{
  // -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  // -moz-animation: fadein 2s; /* Firefox < 16 */
  //  -ms-animation: fadein 2s; /* Internet Explorer */
  //   -o-animation: fadein 2s; /* Opera < 12.1 */
  //      animation: fadein 2s;
  // transition: 1s opacity ease-in-out;
  position: relative;
  opacity: 1;
}

div{
  // transition: opacity 2000ms ease-in, display 2000ms ease-in 2000ms;
  // animation: fadeIn 2s;
  margin: auto;
  padding: auto;
  width:max-content;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  position: relative;

  visibility: visible;
  // opacity: 0;
  // transition: opacity 10s ease-in;
  // justify-content: center;
  // align-content: center;
  // text-align: center;
}

.check{
  @include icon($chckClr,$marginRight:1px,$marginLeft:auto);
}

.close{
  @include icon($closeClr,$marginRight:1px,$marginLeft:auto);
}
.category{
  @include icon($ctgryClr);
}

.numbered-list{
  @include icon($nmbrdListClr);
}

button{
  // opacity: 1;
  // transition: opacity 2000ms ease-in;
  @include btn($dfltBtnBrdClr, $dfltBtnBckClr, $dfltBtnTxtClr);
}


.ans, .ans:disabled, .ans:disabled:hover{
  @include btn($ansBtnBrdrClr, $dfltBtnBckClr, $dfltBtnTxtClr);
}

button:target, button:active, button:hover, button:active:disabled{
  @include btn($dfltBtnBrdClr, $dfltBtnBrdClr, $prsdBtnTextClr);
}


.ans:target, .ans:active, .ans:hover{
  @include btn($ansBtnBrdrClr, $ansBtnBrdrClr, $prsdBtnTextClr);
}

.fade-out, button.fade-out{
  animation: fadeOut 1s;
  // opacity: 0;
  // visibility: hidden;
  position: absolute;
  // left: 50%;

  // display:none;
  // // transition: opacity 2000ms ease-in;

  // // visibility: hidden;
  // position: absolute;

}

// .opacity0{
//   // transition: opacity 0ms linear;
//   opacity: 0;
// }

.fade-in{
  animation: fadeIn 1s;
  // transition: opacity 10s linear;
  // opacity: 1;
}

.dsp-none{
  display: none;
}



// div:onanimationend{
//   display: none;
// }

// .load{
//   transition: 1s opacity ease-in-out;
//   opacity: 1;
// }

// .ans .check, .ans .close{

// }
