$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$ansBtnBrdrClr: rgb(255, 170, 32);
$prsdBtnTextClr: white;
$dfltBtnTxtClr: black;
$dfltBtnBckClr: white;
$dfltBtnBrdClr: rgb(32, 32, 170);
$chckClr: green;
$ctgryClr: blue;
$chckClr: green;
$closeClr: red;
$nmbrdListClr: black;
$dfltFontSize: 24px;
$dfltBtnWidth: 22ch;

@mixin ansFeeedback($closeDisp,$checkDisp) {
  .material-icons.close{
    display: $closeDisp;
  }
  .material-icons.check{
    display: $checkDisp;
  }
}

@mixin btnPressed($pressed, $bckClr) {
  background-color: $bckClr;
}

@mixin icon($txtClr, $fntSize: $dfltFontSize, $marginRight:0px, $marginLeft:0px) {
  color: $txtClr;
  display: flex;
  position: absolute;
  right: 1%;
  font-size: $fntSize;
}

@mixin btn($brdrClr, $bckClr, $txtClr, $fntSize: $dfltFontSize, $btnWidth: $dfltBtnWidth) {
  cursor: pointer;
  background-color: $bckClr;
  color: $txtClr;
  padding: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  justify-self: center;
  align-content: center;
  align-self: center;
  font-size: $fntSize;
  margin: 5px;
  width: $btnWidth;
  border-color: $brdrClr;
  border-radius: 12px;
  // margin-left: calc(50%-15ch);
}

body {
  display: flex;
  position: relative;
  font: 100% $font-stack;
  color: $primary-color;
  margin: auto;
  padding: auto;
  width:max-content;
  flex-direction: column;
  align-content: center;
}

button span, a span{
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}

// a{
//   cursor: pointer;
//   background-color: $bckClr;
//   color: $txtClr;
//   padding: 0px;
//   // text-align: center;
//   text-decoration: none;
//   display: flex;
//   flex-direction: row;
//   position: relative;
//   justify-content: center;
//   // justify-items: center;
//   justify-self: center;
//   align-content: center;
//   // align-items:center;
//   align-self: center;
//   // justify-self: flex-end;


//   // justify-items: auto;
//   // align-self: center;
//   // align-content: center;
//   font-size: $fntSize;
//   margin: 5px;
//   width: $btnWidth;
//   border-color: $brdrClr;
//   border-radius: 12px;
// }

.score{
  font-size: 24pt;
}

.correct{
  @include ansFeeedback(none, flex);
}

.incorrect{
  @include ansFeeedback(flex, none);
}

.text-only{
  @include ansFeeedback(none, none);
}

img{
  opacity: 0;
  width: 400px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  // transition: opacity 2000ms ease-in;
}

// @-webkit-keyframes fadeIn {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// @-moz-keyframes fadeIn {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// @-ms-keyframes fadeIn {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// @-o-keyframes fadeIn {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

img.load{
  // -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  // -moz-animation: fadein 2s; /* Firefox < 16 */
  //  -ms-animation: fadein 2s; /* Internet Explorer */
  //   -o-animation: fadein 2s; /* Opera < 12.1 */
  //      animation: fadein 2s;
  // transition: 1s opacity ease-in-out;
  position: relative;
  opacity: 1;
}

div{
  margin: auto;
  padding: auto;
  width:max-content;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  position: relative;
  visibility: visible;
}
.anchor{
  position: relative;
  margin: 0px;
  padding: 0px;
}

.check{
  @include icon($chckClr,$marginRight:1px,$marginLeft:auto);
}

.close{
  @include icon($closeClr,$marginRight:1px,$marginLeft:auto);
}
.category{
  @include icon($ctgryClr);
}

.numbered-list{
  @include icon($nmbrdListClr);
}

button{
  @include btn($dfltBtnBrdClr, $dfltBtnBckClr, $dfltBtnTxtClr);
}

.disabled{
  pointer-events:none;
}

.ans{
  @include btn($ansBtnBrdrClr, $dfltBtnBckClr, $dfltBtnTxtClr);
}

button:target, button:active, button:hover, button:active:disabled{
  @include btn($dfltBtnBrdClr, $dfltBtnBrdClr, $prsdBtnTextClr);
}


.ans:hover{
  @include btn($ansBtnBrdrClr, $ansBtnBrdrClr, $prsdBtnTextClr);
}

.fade-out, button.fade-out{
  pointer-events:none;
  animation: fadeOut 750ms;
  position: absolute;
}

.fade-out>*{
  pointer-events:none;
}

.fade-in{
  animation: fadeIn 1000ms;
}

.dsp-none{
  pointer-events:none;
  display: none;
}