$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$ansBtnBrdrClr: rgb(255, 170, 32);
$prsdBtnTextClr: white;
$dfltBtnTxtClr: black;
$dfltBtnBckClr: white;
$dfltBtnBrdClr: rgb(32, 32, 170);
$chckClr: green;
$ctgryClr: blue;
$chckClr: green;
$closeClr: red;
$nmbrdListClr: black;
$dfltLineSpacing: 0.1rem;
$dfltFontSize: 1.5rem;
$dfltBtnWidth: 22ch;
$dfltBtnHeight: 2.5rem;
$dfltBtnMargin: 0.5rem;
$dfltShadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

@mixin shadow($level: 1, $background: black) {
  @if $level == 1 { box-shadow: 0 1px   3px rgba(0,0,0,0.12), 0   1px 2px rgba($background,0.24) }
@else if $level == 2 { box-shadow: 0 3px   6px rgba(0,0,0,0.16), 0   3px 6px rgba($background,0.23) }
@else if $level == 3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0   6px 6px rgba($background,0.23) }
@else if $level == 4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba($background,0.22) }
@else if $level == 5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba($background,0.22) }
}

@mixin ansFeedback($closeDisp,$checkDisp) {
  .material-icons.close{
    display: $closeDisp;
    opacity: 1;
  }
  .material-icons.check{
    display: $checkDisp;
    opacity: 1;
  }
}

@mixin btnPressed($pressed, $bckClr) {
  background-color: $bckClr;
}

@mixin btnIcon($txtClr, $opacity: 1, $fntSize: $dfltFontSize, $right: auto, $left: auto) {
  color: $txtClr;
  display: flex;
  position: absolute;
  right: $right;
  left: $left;
  font-size: $fntSize;
  opacity: $opacity;
  transition: all 300ms ease-in;
  transition-property: opacity,color;
}

@mixin icon($txtClr, $opacity: 1, $fntSize: $dfltFontSize, $marginRight:0px, $marginLeft:0px, $pos:relative, $right:true) {
  color: $txtClr;
  display: flex;
  position: $pos;
  font-size: $fntSize;
  opacity: $opacity;
  transition: all 300ms ease-in;
  transition-property: opacity,color;
}

@mixin btn($brdrClr, $bckClr, $txtClr, $fntSize: $dfltFontSize, $btnWidth: $dfltBtnWidth, $btnHeight: $dfltBtnHeight,$margin: $dfltBtnMargin, $boxShadow: $dfltShadow) {
  cursor: pointer;
  background-color: $bckClr;
  color: $txtClr;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  justify-self: center;
  align-content: center;
  align-self: center;
  font-size: $fntSize;
  margin: $margin;
  padding: 0.2rem;
  height: $dfltBtnHeight;
  width: $btnWidth;
  border-color: $brdrClr;
  border-radius: 1rem;
  border-style: solid;

  max-width: 90vw;
  max-height: 6vh;
  font-size: 4vh;

  width: 100rem;
  height: 200rem;

  @include shadow(2);
  transition: all 300ms ease-in;
  transition-property: transform,background-color, color, opacity, box-shadow;
}
html{
  font-size: 1.9vh;
  height: 100vh;
  width: 100vw;
}

body {
  height: calc(100%-(2*$dfltBtnMargin+6vh));
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  position: relative;
  font: 1.5rem $font-stack;
  color: $primary-color;
  margin: 0 auto;
  padding: auto;
  width:max-content;
  flex-direction: column;
  align-content: center;
}

#main{
  height: 100%;
}

div{
  margin: auto;
  padding: auto;
  width:max-content;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  visibility: visible;
  max-width: 90vw;
}
.anchor{
  position: relative;
  margin: 0;
  padding: 0;
}

img{
  display: flex;
  justify-self: center;
  align-self: center;
  opacity: 0;
  max-width: 90vw;
  max-height: 40vh;

  width: 100rem;
  height: 200rem;
  object-fit: cover;

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  position: relative;
  box-shadow: $dfltShadow;
  margin: 0.5rem 0.15rem 0.25rem 0.15rem;
}

img.load{
  position: relative;
  opacity: 1;
}

table, thead, tbody, tr, th, td{
  text-align: center;
  max-width: 90vw;
}
th, td{
  padding: 1vh 2vw;
}

table {
  table-layout: fixed;
  width: 100%;
}

table td {
  word-wrap: break-word;         
  overflow-wrap: break-word;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}
.correct{
  @include ansFeedback(none, flex);
}

.incorrect{
  @include ansFeedback(flex, none);
}

.text-only{
  @include ansFeedback(none, none);
}

.category{
  @include icon($ctgryClr);
}

button{
  @include btn($dfltBtnBrdClr, $dfltBtnBckClr, $dfltBtnTxtClr);
  .check{
    @include btnIcon($chckClr, $opacity: 0, $right: 2%);
  }
  .close{
    @include btnIcon($closeClr, $opacity: 0, $right: 2%);
  }
  .category{
    @include btnIcon($ctgryClr, $opacity: 1, $left: 2%);
  }
  .numbered-list{
    @include btnIcon($nmbrdListClr, $opacity: 1, $left: 2%);
  }
}

button span{
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}

button:hover{
  background-color: $dfltBtnBrdClr;
  color: $prsdBtnTextClr;
  @include shadow(3);
  transform: translateY(-0.15rem); 
}

button.pressed, button:active{
  @include btn($dfltBtnBrdClr, $dfltBtnBrdClr, $prsdBtnTextClr);
  @include shadow(2);
  transform: translateY(+0.15rem);
}

.ans{
  @include btn($ansBtnBrdrClr, $dfltBtnBckClr, $dfltBtnTxtClr);
  .check{
    @include btnIcon($chckClr, $opacity: 0, $right: 2%, $fntSize: 2rem);
  }
  .close{
    @include btnIcon($closeClr, $opacity: 0, $right: 2%, $fntSize: 2rem);
  }
  .category{
    @include btnIcon($ansBtnBrdrClr, $opacity: 1, $left: 2%);
  }
}

.ans:hover,.ans.pressed, .ans:active{
  .category{
    color: $dfltBtnBckClr;
  }
}

.ans:hover{
  @include btn($ansBtnBrdrClr, $ansBtnBrdrClr, $prsdBtnTextClr);
  @include shadow(3);
  transform: translateY(-0.15rem); 
}

.ans.pressed, .ans:active{
  @include btn($ansBtnBrdrClr, $ansBtnBrdrClr, $prsdBtnTextClr);
  @include shadow(2);
  transform: translateY(+0.15rem);
}

p{
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
  i.material-icons{
    font-size: 15rem;
  }
  max-width: 90vw;
  
  font-size: 4vh;

  width: 100rem;
  
}

.question-head{
  display: flex;
  margin: 0;
  
  align-content: flex-start;
  justify-content: center;
  
}

.text-input{
  display: flex;
  align-self: center;
  justify-self: center;
  border-color: $dfltBtnBrdClr;
  border-radius: 1rem;
  padding: 2vw;
  border-style: solid;
  width: 25ch;
  max-width: 99vw;
}

label{
  font-size: 3vh;
  margin: 0.5rem 0.5rem;
}

:focus{
  outline: none;
}

.fade-out, button.fade-out{
  pointer-events:none;
  animation: fadeOut 750ms;
  position: absolute;
}

.fade-out>*{
  pointer-events:none;
}

.fade-in{
  animation: fadeIn 1000ms;
}

.disabled{
  pointer-events:none;
  @include shadow(1);
}

.dsp-none{
  pointer-events:none !important;
  display: none !important;
}